<footer class="footer bg-dark py-3 mt-auto text-white">
  <div class="container">
    <span>&copy; <a href="https://github.com/sak345/YelpCamp.git" class="text-white">sak345</a></span>
  </div>
</footer>
