<%- layout('layouts/boilerplate') %>
<div class="row text-white m-auto rounded">
  <div
    class="col-6 offset-3 px-5 mt-2 container flex-column align-items-center justify-content-center mb-3"
  >
    <div class="card text-bg-light shadow p-3">
      <div class="card-title">
        <h3>Log-in</h3>
      </div>
      <img
        class="card-image-top rounded"
        src="https://images.unsplash.com/photo-1532339142463-fd0a8979791a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80"
      />
      <div class="card-body">
        <form action="/login" method="post" class="needs-validation" novalidate>
          <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input
              type="text"
              class="form-control"
              id="username"
              name="username"
              placeholder="Enter a username"
              autofocus
              required
            />
            <div class="invalid-feedback">Please provide a valid username</div>
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input
              type="password"
              class="form-control"
              id="password"
              name="password"
              placeholder="Enter a password"
              required
            />
            <div class="invalid-feedback">Please provide a valid password</div>
          </div>
          <div class="mb-3 mt-4">
            <button type="submit" class="btn btn-success btn-block w-100">
              Login
            </button>
          </div>
        </form>
        <div class="card-text">
          <i>Don't have an account yet?</i>
          <hr />
          <div>
            <a href="/signUp" class="btn btn-primary mb-2 w-100">Sign Up</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
